Source: tuns
Section: net
Priority: extra
Maintainer: Lucas Nussbaum <lucas@debian.org>
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.6.1~)
Standards-Version: 3.9.4
XS-Ruby-Versions: all

Package: tuns
Architecture: any
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby | ruby-interpreter, ruby-base32
Description: IP over DNS tunnel
 IP over DNS tunnel.
